header {
    height: 900px;
    background: linear-gradient(180deg, #EDA418 47.4%, rgba(237, 164, 24, 0) 100%);


}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}

.menu ul {
    display: flex;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 30.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    justify-content: space-between;
    width: 500px;
    margin-right: 150px;
    

}

.dostavka{
    font-family: Montserrat;
font-size: 32px;
font-weight: 800;
line-height: 39.01px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
width: 572px;
height: 63px;
top: 367px;
left: 130px;
gap: 0px;
opacity: 0px;


}
.zakaz{
    font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
width: 497px;
height: 35px;
top: 459px;
left: 130px;
gap: 0px;
opacity: 0px;


}